.profile {
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;

}

.description {
    background-color: #fff;
    padding: 30px;
}

.avatar {
    max-width: 150px;
    width: 100%;
    height: auto;
    border: 1px solid;
    border-radius: 50%;
    margin-bottom: 15px;
    
}

.username {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;}

.tag {
    opacity: 0.5;
    margin-bottom: 10px;
}

.location {
    opacity: 0.5;
}

.stats {
padding: 0;
display: flex;
justify-content: space-around;
margin: auto;


}

.statsItem {
display: grid;
border: 1px solid #eaeef3;
padding: 42px;



}
.label {
    opacity: 0.5;
}

.quantity {
font-weight: 700;}